@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.main-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}